# Compiled files
/target/
**/*.rs.bk

# Environment variables
.env
.env.local

# Logs
*.log

# Temporary files
.DS_Store
Thumbs.db

# Database (jika kamu simpan lokal)
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db